# Set prefix command to C-a instead of C-b
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

# Set the default terminal of tmux
set -g default-terminal "screen"

# Plugins
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @resurrect-save 'C-s'
set -g @resurrect-restore 'C-r'
set -g @plugin 'tmux-plugins/tmux-battery'
set -g @batt_discharging_icon "🔥 "
set -g @batt_charged_icon "🔋 "
set -g @batt_charging_icon "⚡️ "
set -g @batt_attached_icon "⚠️ "

# Set window notifications
setw -g monitor-activity on
set -g visual-activity on

# Automatic window renaming
setw -g automatic-rename on

# styles
set -g status-bg '#EC407A'
set -g status-fg '#ffffff'
set -g status-left " [%I:%M:%S] "
set -g status-left-length 20
set -g status-right '#(whoami) | #{battery_icon} #{battery_percentage} / #{battery_remain} | %D'
set -g status-right-length 60
set -g status-attr dim

# tmuxinator pane locate
set -g base-index 1
set -g pane-base-index 1

# Faster escapes
set -sg escape-time 0

# Initialize TMUX plugin manager (keep at bottom)
run-shell ~/.tmux/plugins/tpm/tpm
