# Set prefix command to C-a instead of C-b
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

# address vim mode switching delay (http://superuser.com/a/252717/65504)
set -s escape-time 0

# increase scrollback buffer size
set -g history-limit 50000

# tmux messages are displayed for 4 seconds
set -g display-time 4000

# refresh 'status-left' and 'status-right' more often
set -g status-interval 5

# Set the default terminal of tmux
set -g default-terminal "screen"

# Plugins
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @resurrect-save 'C-s'
set -g @resurrect-restore 'C-r'
set -g @plugin 'tmux-plugins/tmux-battery'
set -g @batt_discharging_icon "♪"                # ☾
set -g @batt_charged_icon "☼"                    # not working for some reason
set -g @batt_charging_icon "⚡︎"                   # ϟ
set -g @batt_attached_icon "∞"
set -g @plugin 'tmux-plugins/tmux-prefix-highlight'

# Set window notifications
setw -g monitor-activity on
set -g visual-activity on

# Automatic window renaming
# setw -g automatic-rename on
set -g window-status-format '#I:#(pwd="#{pane_current_path}"; echo ${pwd####*/})#F'
set -g window-status-current-format '#I:#(pwd="#{pane_current_path}"; echo ${pwd####*/})#F'
set-option -g status-interval 1


### styles

# grayscale
set -g status-fg '#ffffff'
set -g status-bg '#444444'

# green
#set -g status-bg '#b0d68b'
#set -g status-fg '#303030'


# Classic Orange Bar
# #[fg=#f7b72b]▁▂▃▄▅▆▇█#[default]

# Rainbow Bars
# #[fg=#fe6363]▁#[fg=#f7b72b]▂#[fg=#ffeb3b]▃#[fg=#15CA6E]▄#[fg=#36A1F0]▅#[fg=#ab47bc]▆#[fg=#61cec3]▇#[fg=#f44336]█#[default]

# Coffee Cup Glyph
# ☕︎

set -g status-left " "
set -g status-left-length 20
set -g status-right "#{prefix_highlight} #{battery_remain} ☕︎ #(whoami) | #{battery_icon} #{battery_percentage} | ◴ %I:%M, %A %D |"
set -g status-right-length 60
set -g status-attr dim

# tmuxinator pane locate
set -g base-index 1
set -g pane-base-index 1

# Faster escapes
set -sg escape-time 0

# Initialize TMUX plugin manager (keep at bottom)
run-shell ~/.tmux/plugins/tpm/tpm
